<!DOCTYPE html>
<html ng-app="ToDoApp">
<head>
	<title>TODO List</title>
	<script src="Libraries/jquery-2.1.1.min.js"></script>
    <script src="Libraries/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="todo.js"></script>
    <script>
        var app = angular.module("ToDoApp", []);

        app.controller("ToDoCtrl", function ($scope) {
            $scope.tasks = todoModel.read();
            $scope.newTask = null;
            $scope.filterCompleted = '0';
            $scope.filterDescription = '';

            $scope.addButtonClick = function () {
                todoModel.addItem($scope.newTask.name, $scope.newTask.description, $scope.newTask.completed);
                todoModel.save();
                $scope.newTask = null;
                $('#newTask').modal('hide');
            }

            $scope.changeCompleted = function (id) {
            	todoModel.changeItem(id);
            	todoModel.save();
            }

            $scope.remove = function (id) {
            	todoModel.removeItem(id);
            	todoModel.save();
            }

            $scope.selectTaskCom = function (task) {

            	var resultDes = true;
            	if($scope.filterDescription != '') {
            		if(task.description.indexOf($scope.filterDescription) == -1)
            			resultDes = false;
            	}
            	//console.log($scope.filterCompleted);
            	var resultCom = true;
            	switch($scope.filterCompleted) {
            		case '0':
            			resultCom = true;
            			break;
            		case '1':
            			resultCom = task.completed ? false : true;
            			break;
            		case '2':
            			resultCom = task.completed ? true : false;
            			break;
            	}
            	return resultDes && resultCom;
            }
        });
    </script>
</head>
<body ng-controller="ToDoCtrl">

    <div class="container">

        <h3>Список заданий</h3>
		
		<div style="text-align:right;margin-bottom:20px;">
        	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newTask">
 				Добавить задание
			</button>
		</div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="vertical-align:top;width:15%;">
                    	Имя<br />
                    	<span class="glyphicon glyphicon-flash" style="color: #FFD700;font-size:20pt;"></span>
                    </th>
                    <th style="width:70%;">
                    	Описание<br />
                    	<input type="text" class="form-control" ng-model="filterDescription" />
                    </th>
                    <th style="width:15%;">
                    	Выполнено<br />
                    	<select class="form-control" ng-model="filterCompleted"><option value="0">Все</option><option value="1">Активные</option><option value="2">Завершенные</option></select>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="task in tasks | filter:selectTaskCom">
                <td style="width:15%;">{{task.name}}</td>
                <td style="width:70%;">{{task.description}}</td>
                <td  style="width:15%;">
                	<span ng-if="task.completed" class="glyphicon glyphicon-ok" style="color: #228B22;font-size:14pt;" ng-click="changeCompleted(task.id)"></span>
					<span ng-if="!task.completed" class="glyphicon glyphicon-ok" style="color: #BEBEBE;font-size:14pt;" ng-click="changeCompleted(task.id)"></span>
					<span class="glyphicon glyphicon-remove" style="color: #FF0000;font-size:14pt;padding-left:15px;" ng-click="remove(task.id)"></span>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Добавить задание</h4>
	      		</div>
	      		<form name="addTask" class="form-horizontal">
		      		<div class="modal-body">
		        		 <div>
			                <div class="form-group row">
			                    <label for="input1" class="col-sm-2 control-label">Название</label>
			                    <div class="col-sm-10">
			                        <input maxlength="20" type="text" class="form-control" id="taskName" placeholder="Название" ng-model="newTask.name" required />
			                    </div>
			                </div>

			                <div class="form-group row">
			                    <label for="input2" class="col-sm-2 control-label">Описание</label>
			                    <div class="col-sm-10">
			                        <textarea class="form-control" ng-model="newTask.description"></textarea>
			                    </div>
			                </div>

			                <div class="form-group row">
			                    <label for="input2" class="col-sm-2 control-label">Выполнено</label>
			                    <div class="col-sm-1">
			                        <input type="checkbox" class="checkbox" ng-model="newTask.completed" />
			                    </div>
			                </div>
				            
				        </div>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addButtonClick()" ng-disabled="addTask.$invalid">Добавить</button>
		      		</div>
	      		</form>
	    	</div>
  		</div>
	</div>
</body>
</html>
